@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #dddddd;
	font-family: 'Work Sans', sans-serif;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
