.details-section nav {
	padding: 10px 20px;
	padding-top: 20px;
	display: flex;
	gap: 10px;
}

nav a {
	font-size: 30px;
	gap: 10px;
	text-decoration: none;
	color: white;
	font-weight: 600;
}

nav a.active {
	color: #748cf2;
}
